.btn-style-citi{
               position: relative;
               background-color: #00BDF2;
               border: none;
               font-size: 13px;
               font-weight: bolder;
            font-family: arial;
               color: #FFFFFF;
               margin-top: 15px;
        padding: 5px;
               margin-left: 10px;
               text-align: center;
               text-decoration: none;
}
 
.btn-style-citi:hover {
  background: none repeat scroll 0 0 #008CE6;
  color: #FFFFFF;
}
