
  <!-- <div class="afobnmx_header" style="align-content: right;">
      <div class="row">
          <div class="col-md-9 offset-md-2">
      <img src="assets/images/logoCiti.png" alt="Responsive image">
      </div>
      </div>

      <div class="row">
          <div class="col-md-9 offset-md-2">
              <nav class="navbar navbar-expand-lg">
                  <a class="navbar-brand"  style="color: white" href="#">Home</a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                      <li class="nav-item active">
                        <a class="nav-link" style="color: white" routerLink="link1" >Link1 </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link"  style="color: white" routerLink="link2" >Link2 </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link"  style="color: white" routerLink="link3" >Link3 </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link"  style="color: white" routerLink="user" >User </a>
                      </li>
                
                      <li class="nav-item">
                          <a class="nav-link" style="color: white"  routerLink="modal" >Modal </a>
                        </li>
                
                        <li class="nav-item">
                            <a class="nav-link"  style="color: white" routerLink="dropdown" >Dropdown </a>
                          </li>
                
                        
                      <li class="nav-item dropdown">
                        
                            <div ngbDropdown class="d-inline-block">
                              <a class="nav-link dropdown-toggle"  style="color: white" id="dropdownBasic1" ngbDropdownToggle>Dropdown</a>
                              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                <button class="dropdown-item">Action - 1</button>
                                <button class="dropdown-item">Another Action</button>
                                <button class="dropdown-item">Something else is here</button>
                              </div>
                            </div>
                        
                      </li>
                      <li class="nav-item">
                        <a class="nav-link disabled" href="#">Disabled</a>
                      </li>
                    </ul>
                   
                  </div>
              
              </nav>
      </div>
      </div>
  </div> -->


  <div id="wrapper" align="center">
      <div class="container afobnmx_header">
        <div class="row afobnmx_leng_txt">
          <a class="afobnmx_txt_leng "> 
            <span>| Ver. 1.0.9.16 al 09/02/2019 </span> | <span>MS57614</span> | <span></span>
          </a>
        </div>
    
        <div class="row justify-content-end">
          <a class="afobnmx_headerLogo"> <img
            src="../assets/images/logoCiti.png" alt="citibanamex">
          </a>
        </div>

        <div class="row mt-1 justify-content-start afobnmx_menu">
          
            <nav class="navbar navbar-expand-lg">
                <a class="nav-link"  style="color: white" href="#">Home</a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                   
                    <li class="nav-item dropdown">
                      
                      <div ngbDropdown class="d-inline-block">
                        <a class="nav-link dropdown-toggle"  style="color: white" id="dropdownBasic1" ngbDropdownToggle>Afiliado</a>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                          <button class="dropdown-item" routerLink="afiliado-administrar">Administrar</button>
                          <button class="dropdown-item" routerLink="afiliado">Agregar</button>
                        </div>
                      </div>
                  
                    </li>

                    <!-- <li class="nav-item active">
                        <a class="nav-link" style="color: white" routerLink="users" >User </a>
                      </li> -->

                    <!-- <li class="nav-item active">
                      <a class="nav-link" style="color: white" routerLink="beneficiario" >Beneficiario </a>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link" style="color: white" routerLink="link1" >Link1 </a>
                      </li>
                    <li class="nav-item">
                      <a class="nav-link"  style="color: white" routerLink="link2" >Link2 </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link"  style="color: white" routerLink="link3" >Link3 </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link"  style="color: white" routerLink="user" >User </a>
                    </li>
              
                    <li class="nav-item">
                        <a class="nav-link" style="color: white"  routerLink="modal" >Modal </a>
                      </li>
              
                      <li class="nav-item">
                          <a class="nav-link"  style="color: white" routerLink="dropdown" >Dropdown </a>
                        </li>
              
                      
                    <li class="nav-item dropdown">
                      
                          <div ngbDropdown class="d-inline-block">
                            <a class="nav-link dropdown-toggle"  style="color: white" id="dropdownBasic1" ngbDropdownToggle>Dropdown</a>
                            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                              <button class="dropdown-item">Action - 1</button>
                              <button class="dropdown-item">Another Action</button>
                              <button class="dropdown-item">Something else is here</button>
                            </div>
                          </div>
                      
                    </li>
                    <li class="nav-item dropdown"><a
                      class="nav-link dropdown-toggle text-white" data-toggle="dropdown"
                      href="#">Procesos</a>
                      <div class="dropdown-menu">
                        
                        <div>
                          <a class="dropdown-item" href="/componentesGenerales/modificaProceso">Actualizar</a>
                        </div>
                      </div></li>

                    <li class="nav-item">
                      <a class="nav-link disabled" href="#">Disabled</a>
                    </li> -->
                  </ul>
                 
                </div>
            
            </nav>
          
          <!-- <ul class="nav">
    
    
            <li class="nav-item"><a class="nav-link text-white" href="/componentesGenerales/">Home</a></li>
    
            <div>
              <li class="nav-item dropdown"><a
                class="nav-link dropdown-toggle text-white" data-toggle="dropdown"
                href="#">Consultas</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item"
                    href="/componentesGenerales/consultaRecepcionEnvioArchivos">Procesos
                    archivos</a>
                </div></li>
            </div>
            
            <div>
              <li class="nav-item dropdown"><a
                class="nav-link dropdown-toggle text-white" data-toggle="dropdown"
                href="#">Reenv&iacute;o</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="/componentesGenerales/consultaReenvioArchivos">Archivos</a>
                </div>
              </li>
            </div>
    
            <div>
              <li class="nav-item dropdown"><a
                class="nav-link dropdown-toggle text-white" data-toggle="dropdown"
                href="#">Contenedor</a>
                <div class="dropdown-menu">
                  
                  <div>
                    <a class="dropdown-item" href="/componentesGenerales/modificaContenedor">Actualizar</a>
                  </div>
                </div></li>
            </div>
    
            <div>
              <li class="nav-item dropdown"><a
                class="nav-link dropdown-toggle text-white" data-toggle="dropdown"
                href="#">Archivo</a>
                <div class="dropdown-menu">
                  
                  <div>
                    <a class="dropdown-item" href="/componentesGenerales/modificaArchivo">Actualizar</a>
                  </div>
                </div>
              </li>
            </div>
    
            <div>
              <li class="nav-item dropdown"><a
                class="nav-link dropdown-toggle text-white" data-toggle="dropdown"
                href="#">Env&iacute;o de archivo</a>
                <div class="dropdown-menu">
                  
                  <div>
                    <a class="dropdown-item" href="/componentesGenerales/modificaEnvioArchivo">Actualizar</a>
                  </div>
                </div></li>
            </div>
    
            <div>
              <li class="nav-item dropdown"><a
                class="nav-link dropdown-toggle text-white" data-toggle="dropdown"
                href="#">Procesos</a>
                <div class="dropdown-menu">
                  
                  <div>
                    <a class="dropdown-item" href="/componentesGenerales/modificaProceso">Actualizar</a>
                  </div>
                </div></li>
            </div>
          </ul> -->



        </div>
    
      </div>
    
    </div>


