.wrapper{
    margin-left: 12em;
    margin-right: 12em;
    background: #ffffff;
}

.footer{
    background: #ffffff;
    margin-left: 12em;
    margin-right: 12em;
}

.container{
    
    max-width: 900px;
    padding-left: 0px;
    padding-right: 0px;
}

hr.new1 {
    border-top: 1px solid grey;
  }

.panel-footer{
background: #ffffff;
  }

 



